Repository cycleseven/cy7.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-non-js, terraform-format

lefthook.yml:

pre-push:
  parallel: true
  commands:
    eslint:
      files: git diff --name-only HEAD @{push}
      glob: "*.{js,ts,tsx}"
      run: yarn eslint {files} --max-warnings 0
    prettier-check:
      files: git diff --name-only HEAD @{push}
      glob: "*.{js,ts,tsx,css,yml,yaml,json,md}"
      run: yarn prettier --check {files}
    typescript-check:
      run: yarn tsc --noEmit
    terraform-format-check:
      glob: "*.{tf,tfvars}"
      run: terraform fmt -check {all_files}
    jest:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    prettier-js:
      glob: "*.{js,ts,tsx}"
      run: yarn prettier --write {staged_files} && git add {staged_files}
    prettier-non-js:
      glob: "*.{css,yml,yaml,json,md}"
      run: yarn prettier --write --no-bracket-spacing {staged_files} && git add {staged_files}
    terraform-format:
      glob: "*.{tf,tfvars}"
      run: "echo {staged_files} | xargs -n1 -I[] sh -c 'terraform fmt [] && git add []'"

check-all:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,tsx}"
      run: yarn eslint {all_files} --max-warnings 0
    prettier-check:
      glob: "*.{js,ts,tsx,css,yml,yaml,json,md}"
      run: yarn prettier --check {all_files}
    terraform-format-check:
      run: terraform fmt -check deploy/infra
    typescript-check:
      run: yarn tsc --noEmit
    jest:
      run: yarn test

Fix terraform-format-check pre-push job
  lefthook.yml
Due: prettier-non-js

Tighten up pre-push ESLint/Prettier checks
  lefthook.yml
  src/pages/index.tsx
Due: prettier-js, prettier-non-js

Update Node version used in CI
  .gitlab-ci.yml
Due: prettier-non-js

Fix slowness of GraphQL codegen
  gatsby-config.js
Due: prettier-js

Build + generate GQL types as part of CI lint job
  .gitlab-ci.yml
Due: prettier-non-js

Restructure Gitlab CI pipeline so builds happen before anything else
  .gitlab-ci.yml
  deploy/ci-deploy-image/Dockerfile
  deploy/ci-lint-image/Dockerfile
  src/@cy7/docs/intro/ProjectLayout.stories.mdx
Due: prettier-non-js

Restore footer link to Storybook
  gatsby-config.js
Due: prettier-js

Fix broken Storybook build
  src/@cy7/docs/guides/Blogging.stories.mdx
Due: none

Fail CI build if Yarn lockfile needs updating
  .gitlab-ci.yml
Due: prettier-non-js

Split out terraform code quality check rather than trying to create a single Docker image with both node/yarn and terraform available
  .gitlab-ci.yml
  lefthook.yml
Due: prettier-non-js

Try Gitlab CI script as a one-liner
  .gitlab-ci.yml
Due: prettier-non-js

Add quiet flag to Storybook build
  .gitlab-ci.yml
Due: prettier-non-js

Mark build/test CI stages as interruptible
  .gitlab-ci.yml
Due: prettier-non-js

Skip terraform code quality check
  .gitlab-ci.yml
Due: prettier-non-js

Move CodeBlock component to @cy7/website/blog/components root
  src/@cy7/docs/guides/Blogging.stories.mdx
  src/@cy7/website/blog/components/CodeBlock.tsx
  src/@cy7/website/blog/components/MdxCodeBlock.tsx
  src/@cy7/website/blog/components/codeBlock/index.ts
  src/@cy7/website/blog/components/index.ts
Due: prettier-js

Shrink mobile gutters, fix color of horizontal rule under blog heading on home page
  src/@cy7/design-system/layout/Gutters.tsx
  src/@cy7/design-system/stitches.config.ts
  src/pages/index.tsx
Due: prettier-js

Remove ts-ignore for fixed complex union TS error in Stack component
  src/@cy7/design-system/layout/Stack.tsx
Due: prettier-js

Tweak docs
  README.md
  src/@cy7/docs/guides/Accessibility.stories.mdx
  src/@cy7/docs/guides/Blogging.stories.mdx
  src/@cy7/docs/guides/Testing.stories.mdx
  src/@cy7/docs/intro/HelloWorld.stories.mdx
  src/@cy7/docs/intro/ProjectLayout.stories.mdx
  src/@cy7/docs/website/Meta.stories.mdx
Due: prettier-non-js

Attempt to debug deploy scripts
  .gitlab-ci.yml
Due: prettier-non-js

Move GATSBY_BUILD_SHA variable to build stage in CI config
  .gitlab-ci.yml
Due: prettier-non-js

Try out Github workflows
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Pass generated GraphQL types from build job to code quality check job
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Download artifact with generated GraphQL types before running code quality checks
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Download gql types to correct path in Github Actions
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Turn off naive caching: not beneficial (yarn install step still runs in full each time)
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Add deploy workflow
  .github/workflows/deploy.yml
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Rename code validation workflow
  .github/workflows/validate-without-deploy.yml
Due: prettier-non-js

Fix bad artifact references and AWS config issues in deploy workflow
  .github/workflows/deploy.yml
Due: prettier-non-js

Interpolate commit sha into build HTML
  .github/workflows/deploy.yml
  .github/workflows/validate-without-deploy.yml
Due: prettier-non-js

Fix sha interpolation
  .github/workflows/deploy.yml
  .github/workflows/validate-without-deploy.yml
Due: prettier-non-js

Fix footer link spacing
  src/@cy7/website/common/components/Footer.tsx
Due: prettier-js

Tweak candyfloss shade
  src/@cy7/design-system/stitches.config.ts
Due: prettier-js

Remove Gitlab CI config
  .gitlab-ci.yml
Due: prettier-non-js

Update Gitlab references to point to Github instead
  gatsby-config.js
  package.json
  src/@cy7/docs/guides/CodeQuality.stories.mdx
  src/@cy7/docs/guides/Deployment.stories.mdx
  src/@cy7/docs/intro/HelloWorld.stories.mdx
  src/@cy7/docs/intro/ProjectLayout.stories.mdx
Due: prettier-js, prettier-non-js

Tweak text colors
  .storybook/preview-body.html
  src/@cy7/design-system/stitches.config.ts
  src/@cy7/typography/typography.ts
  src/pages/index.tsx
Due: prettier-js

Upgrade packages, tighten tracking in body text
  package.json
  src/@cy7/typography/typography.ts
  src/@cy7/website/blog/posts/anonymous-functions.mdx
  src/pages/index.tsx
  yarn.lock
Due: prettier-js, prettier-non-js

Add "Some tips for GraphQL" blog post
  gatsby-node.js
  package.json
  src/@cy7/design-system/stitches.config.ts
  src/@cy7/typography/typography.ts
  src/@cy7/website/blog/components/MdxBlockquote.tsx
  src/@cy7/website/blog/components/MdxHeading.tsx
  src/@cy7/website/blog/components/MdxInlineCode.tsx
  src/@cy7/website/blog/components/codeBlock/CodeContainer.tsx
  src/@cy7/website/blog/components/codeBlock/Token.tsx
  src/@cy7/website/blog/components/index.ts
  src/@cy7/website/blog/posts/anonymous-functions.mdx
  src/@cy7/website/blog/posts/some-tips-for-graphql.mdx
  src/@cy7/website/blog/types.ts
  src/@cy7/website/common/components/Img.tsx
  src/images/sickapp.png
  src/images/spinnercascade.png
  src/pages/index.tsx
  src/templates/BlogPost.tsx
  yarn.lock
Due: prettier-js, prettier-non-js

Shrink hero a little on narrower viewports
  src/pages/index.tsx
Due: prettier-js

Fix an a11y regression: home page content was no longer wrapped in <main>
  src/pages/index.tsx
Due: prettier-js

Tweak a not-quite-true claim about Relay
  src/@cy7/website/blog/posts/some-tips-for-graphql.mdx
Due: none
