Repository cycleseven/cy7.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-non-js

prettier-js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

prettier-non-js:
  run: yarn prettier --write --no-bracket-spacing {staged_files} && git add {staged_files}

Replace the auto-generated Gatsby README with basic local development instructions
  LICENSE
  README.md
Due: prettier-non-js

Reword "bad" code
  README.md
Due: prettier-non-js

Automatically deploy site on pushing to master
  .gitlab-ci.yml
  README.md
  deploy/ci-deploy-image/Dockerfile
Due: prettier-non-js

Mark deploy job as deploy stage
  .gitlab-ci.yml
Due: prettier-non-js

Upgrade to @dangerfarms/eslint-config-df v5, fix gatsby-plugin-styled-components peer dependency warning
  package.json
  yarn.lock
Due: prettier-non-js

Move prettier config to package.json, fix conflicts with ESLint
  .prettierrc
  package.json
  yarn.lock
Due: prettier-non-js

Fail lefthook checks on ESLint warnings, add pre-release script
  lefthook.yml
Due: prettier-non-js

Run full-lint in CI
  .gitlab-ci.yml
  lefthook.yml
Due: prettier-non-js

Fix bad lint command
  .gitlab-ci.yml
Due: prettier-non-js

Add ci-lint-job image
  .gitlab-ci.yml
  deploy/ci-lint-image/Dockerfile
Due: prettier-non-js

Upgrade CI jobs to Node v12.9.1
  .gitlab-ci.yml
  deploy/ci-deploy-image/Dockerfile
  deploy/ci-lint-image/Dockerfile
Due: prettier-non-js

Embed git sha in a meta tag so it's easy to confirm deployed version
  .gitlab-ci.yml
  src/components/Layout.js
  src/components/Meta.js
  src/pages/404.js
  src/pages/index.js
Due: prettier-js, prettier-non-js

Remove README info that's liable to go out of sync with reality
  README.md
Due: prettier-non-js

Upgrade gatsby, stylelint and styled-components
  package.json
  yarn.lock
Due: prettier-non-js

Bring static site infrastructure under Terraform management
  .gitignore
  deploy/infra/main.tf
  deploy/infra/modules/static_site/main.tf
  lefthook.yml
Due: prettier-non-js

Upgrade Gatsby and React
  package.json
  yarn.lock
Due: prettier-non-js

Set up colours and typography
  .storybook/config.js
  .storybook/presets.js
  gatsby-browser.js
  gatsby-ssr.js
  package.json
  src/components/CenteredPage.js
  src/components/DarkPage.js
  src/components/Layout.js
  src/components/Logo.js
  src/components/Logo.stories.mdx
  src/components/Meta.js
  src/designPrimitives/Cy7ThemeProvider.js
  src/designPrimitives/designPrimitives.js
  src/designPrimitives/docs/Colour.stories.mdx
  src/designPrimitives/docs/GettingStarted.stories.mdx
  src/designPrimitives/docs/Typography.stories.mdx
  src/designPrimitives/docs/components/ColourSwatch.js
  src/designPrimitives/globalStyles.js
  src/designPrimitives/index.js
  src/designPrimitives/typography.js
  src/globalStyles/foundation.css
  src/globalStyles/reset.css
  src/pages/404.js
  src/pages/index.js
  yarn.lock
Due: prettier-js, prettier-non-js

Fix linting issues. Add prettier --check to full lint task
  .eslintignore
  .storybook/config.js
  lefthook.yml
  package.json
Due: prettier-js, prettier-non-js

Remove public-read acl from s3 bucket
  .gitlab-ci.yml
Due: prettier-non-js

Automatically deploy storybook
  .gitignore
  .gitlab-ci.yml
  deploy/infra/main.tf
  deploy/infra/modules/static_site/main.tf
  deploy/infra/modules/static_site/outputs.tf
  deploy/infra/modules/static_site/variables.tf
Due: prettier-non-js

Build storybook with --docs flag
  .gitlab-ci.yml
Due: prettier-non-js

Use root imports
  .storybook/config.js
  .storybook/webpack.config.js
  gatsby-node.js
  package.json
  src/components/Logo.js
  src/components/index.js
  src/designPrimitives/Cy7ThemeProvider.js
  src/designPrimitives/globalStyles.js
  src/designPrimitives/index.js
  src/designPrimitives/theme.js
  src/designPrimitives/typography.js
  src/pages/404.js
  src/pages/index.js
Due: prettier-js, prettier-non-js

Fix lint warnings
  gatsby-browser.js
  gatsby-ssr.js
Due: prettier-js

Add serverless project that deploys the redirect lambda for CloudFront (Lambda@Edge)
  deploy/redirect-lambda/.gitignore
  deploy/redirect-lambda/handlers.js
  deploy/redirect-lambda/package.json
  deploy/redirect-lambda/serverless.yml
  deploy/redirect-lambda/yarn.lock
Due: prettier-js, prettier-non-js

Hook up Lambda@Edge redirect function to Cloudfront via Terraform
  deploy/infra/main.tf
  deploy/infra/modules/static_site/main.tf
  deploy/infra/modules/static_site/variables.tf
  deploy/redirect-lambda/.gitignore
  deploy/redirect-lambda/package.json
  deploy/redirect-lambda/serverless.yml
  deploy/redirect-lambda/yarn.lock
Due: prettier-non-js

Add blog post component (wip)
  .storybook/config.js
  blogPosts/anonymous-functions.md
  blogPosts/the-rotate-trick.md
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package.json
  src/@cy7/designSystem/Cy7ThemeProvider.js
  src/@cy7/designSystem/components/CenteredPage.js
  src/@cy7/designSystem/components/Logo.js
  src/@cy7/designSystem/components/Logo.stories.mdx
  src/@cy7/designSystem/components/Meta.js
  src/@cy7/designSystem/components/Meta.stories.mdx
  src/@cy7/designSystem/components/index.js
  src/@cy7/designSystem/docComponents/ColourSwatch.js
  src/@cy7/designSystem/docComponents/index.js
  src/@cy7/designSystem/docs/DesignSystem.stories.mdx
  src/@cy7/designSystem/docs/Intro.stories.mdx
  src/@cy7/designSystem/docs/TechStack.stories.mdx
  src/@cy7/designSystem/globalStyles.js
  src/@cy7/designSystem/index.js
  src/@cy7/designSystem/primitives/Colours.stories.mdx
  src/@cy7/designSystem/primitives/Typography.stories.mdx
  src/@cy7/designSystem/primitives/colours.js
  src/@cy7/designSystem/primitives/typography.js
  src/@cy7/designSystem/theme.js
  src/designPrimitives/docs/GettingStarted.stories.mdx
  src/images/towers.png
  src/pages/404.js
  src/pages/index.js
  src/templates/BlogPost.js
  yarn.lock
Due: prettier-js, prettier-non-js

Add logo to the blog post page
  src/images/towers2.png
  src/templates/BlogPost.js
Due: prettier-js

Use helvetica for the date typeface
  src/templates/BlogPost.js
Due: prettier-js

Turn logo into a link
  blogPosts/anonymous-functions.md
  blogPosts/the-rotate-trick.md
  src/templates/BlogPost.js
Due: prettier-js, prettier-non-js

Shrink the towers
  src/images/towers2.png
  src/templates/BlogPost.js
Due: prettier-js

Show typography story code by default
  src/@cy7/designSystem/primitives/Typography.stories.mdx
Due: none

Update design for blog home link
  src/@cy7/designSystem/components/BlockSvg.js
  src/@cy7/designSystem/components/Logo.js
  src/@cy7/designSystem/components/Logo.stories.mdx
  src/@cy7/designSystem/components/index.js
  src/@cy7/designSystem/index.js
  src/@cy7/designSystem/primitives/Colours.stories.mdx
  src/@cy7/designSystem/primitives/colours.js
  src/@cy7/designSystem/primitives/typography.js
  src/@cy7/designSystem/useTheme.js
  src/images/towers3.png
  src/templates/BlogPost.js
Due: prettier-js

Update blog header image
  src/@cy7/designSystem/components/Logo.js
  src/images/favicon.png
  src/images/tower.png
  src/images/towers.png
  src/images/towers2.png
  src/images/towers3.png
  src/templates/BlogPost.js
Due: prettier-js

Tweak blog typography and colours
  src/@cy7/designSystem/primitives/colours.js
  src/@cy7/designSystem/primitives/typography.js
  src/templates/BlogPost.js
Due: prettier-js

Update a Dockerfile comment with more straightfoward wording
  deploy/ci-deploy-image/Dockerfile
Due: none

Update packages, install gatsby-plugin-svgr
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-js, prettier-non-js

Add lang=en to html element
  gatsby-ssr.js
Due: prettier-js

Use custom favicon size config to work around jagged favicon in Firefox
  gatsby-config.js
Due: prettier-js

Start drafting anonymous functions blog post, set up prism (syntax highlighting)
  .prettierignore
  blogPosts/anonymous-functions.md
  gatsby-config.js
  package.json
  src/@cy7/blog/Cy7PrismStyles.js
  src/@cy7/blog/index.js
  src/@cy7/designSystem/GlobalStyles.js
  src/@cy7/designSystem/components/Logo.js
  src/@cy7/designSystem/primitives/Colours.stories.mdx
  src/@cy7/designSystem/primitives/colours.js
  src/@cy7/designSystem/primitives/typography.js
  src/@cy7/designSystem/theme.js
  src/templates/BlogPost.js
  yarn.lock
Due: prettier-js, prettier-non-js

Install polished
  package.json
  yarn.lock
Due: prettier-non-js

Path conditions:
  prettier-js: any of: *.js
  prettier-non-js: any of: *.{css,yml,yaml,json,md}
