Repository cycleseven/cy7.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-non-js, format-terraform

lefthook.yml:

pre-push:
  parallel: true
  commands:
    eslint:
      files: git diff --name-only HEAD @{push}
      glob: "*.js"
      run: yarn eslint {files} --max-warnings 0
    stylelint:
      files: git diff --name-only HEAD @{push}
      glob: "*.js"
      run: yarn stylelint {files}
    prettier-check:
      files: git diff --name-only HEAD @{push}
      glob: "*.{js,css,yml,yaml,json,md}"
      run: yarn prettier --check {files}

pre-commit:
  parallel: true
  commands:
    prettier-js:
      glob: "*.js"
      run: yarn prettier --write {staged_files} && git add {staged_files}
    prettier-non-js:
      glob: "*.{css,yml,yaml,json,md}"
      run: yarn prettier --write --no-bracket-spacing {staged_files} && git add {staged_files}
    format-terraform:
      glob: "*.{tf,tfvars}"
      run: "echo {staged_files} | xargs -n1 -I[] sh -c 'terraform fmt [] && git add []'"

full-lint:
  parallel: true
  commands:
    eslint:
      glob: "*.js"
      run: yarn eslint {all_files} --max-warnings 0
    stylelint:
      glob: "*.js"
      run: yarn stylelint {all_files}
    prettier-check:
      glob: "*.{js,css,yml,yaml,json,md}"
      run: yarn prettier --check {all_files}

Fix blog post date
  src/@cy7/blog/posts/anonymous-functions.mdx
Due: none

Move @font-face declarations outside of Styled Components to avoid re-fetching
  src/@cy7/designSystem/Cy7ThemeProvider.js
  src/@cy7/designSystem/Fonts.js
  src/@cy7/designSystem/fonts.css
  src/@cy7/gatsby/Page.js
Due: prettier-js, prettier-non-js

Eagerly load me image
  src/pages/index.js
Due: prettier-js

Use a solid color for placeholder images
  src/@cy7/gatsby/Img.js
  src/@cy7/gatsby/index.js
  src/pages/index.js
Due: prettier-js

Run prettier on missed files
  deploy/lambda/handlers.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  jestPreprocess.js
Due: prettier-js

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier-non-js

Try out render-blocking fonts (may solve staggered loading in most cases without perf impact being too high)
  src/@cy7/designSystem/fonts.css
Due: prettier-non-js

Upgrade to terraform 0.14
  deploy/infra/.terraform.lock.hcl
  deploy/infra/main.tf
  deploy/infra/modules/static_site/main.tf
Due: format-terraform

Upgrade TLS version used by Cloudfront
  deploy/infra/modules/static_site/main.tf
Due: format-terraform

Install Stitches, build a component with it to experiment
  package.json
  src/@cy7/design-system/README.md
  src/@cy7/design-system/Stack.js
  src/@cy7/design-system/index.js
  src/@cy7/designSystem/README.md
  src/@cy7/stitches/index.ts
  src/@cy7/stitches/stitches.config.ts
  src/pages/index.js
  yarn.lock
Due: prettier-js, prettier-non-js

Set up SSR for Stitches
  gatsby-config.js
  src/@cy7/gatsby-plugin-stitches/gatsby-ssr.js
  src/@cy7/gatsby-plugin-stitches/index.js
  src/@cy7/gatsby-plugin-stitches/package.json
Due: prettier-js, prettier-non-js

Convert Stack to Typescript
  src/@cy7/design-system/Stack.tsx
  src/@cy7/design-system/index.ts
  tsconfig.json
Due: prettier-non-js

Fix a bug: html element is constrained to 100% height
  src/@cy7/gatsby/Page.js
Due: prettier-js

Partial migration of @cy7/css, @cy7/gatsby
  jestPreprocess.js
  package.json
  src/@cy7/css/__tests__/colors.test.ts
  src/@cy7/css/colors.ts
  src/@cy7/css/index.ts
  src/@cy7/design-system/Stack.tsx
  src/@cy7/designSystem/index.d.ts
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/gatsby/FullHeightPage.js
  src/@cy7/gatsby/Img.tsx
  src/@cy7/gatsby/Link.tsx
  src/@cy7/gatsby/Meta.tsx
  src/@cy7/gatsby/OldBrowserWarning.tsx
  src/@cy7/gatsby/Page.tsx
  src/@cy7/gatsby/index.ts
  src/@cy7/home/Hero.tsx
  src/@cy7/stitches/palette.ts
  src/@cy7/stitches/space.ts
  src/@cy7/stitches/stitches.config.ts
  src/@cy7/stitches/typography.ts
  src/pages/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier-js, prettier-non-js

Migrate Link component to Stitches
  package.json
  src/@cy7/blog/components/MdxHeading.js
  src/@cy7/design-system/components/Link.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/Stack.tsx
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/gatsby/Link.tsx
  src/@cy7/gatsby/OldBrowserWarning.tsx
  src/@cy7/gatsby/WarpTotem.js
  src/@cy7/stitches/legacyPalette.ts
  src/@cy7/stitches/stitches.config.ts
  src/@cy7/stitches/typography.ts
  src/pages/index.tsx
  yarn.lock
Due: prettier-js, prettier-non-js

Fix regression where footer didn't stick to bottom of viewport on short pages (eg. 404 page on a large monitor)
  src/@cy7/gatsby/FullHeightPage.js
  src/@cy7/gatsby/Page.tsx
Due: prettier-js

Migrate <Svg /> and <LinkIcon /> to Stitches
  src/@cy7/design-system/icons/LinkIcon.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/primitives/Link.tsx
  src/@cy7/design-system/primitives/Svg.tsx
  src/@cy7/gatsby/Link.tsx
  src/@cy7/gatsby/WarpTotem.tsx
  src/@cy7/gatsby/index.ts
  src/@cy7/home/Hero.tsx
Due: none

Fix bug where external links in blog posts incorrectly render using Gatsby's <Link />
  src/@cy7/blog/components/MdxLink.js
  src/@cy7/blog/components/index.js
  src/@cy7/gatsby/Meta.tsx
  src/templates/BlogPost.js
Due: prettier-js

Remove unused <PlainLink /> component
  src/@cy7/designSystem/components/PlainLink.js
  src/@cy7/designSystem/components/index.js
Due: prettier-js

Make space tokens compatible with CSS Variables, migrate <Grid /> to Stitches
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/Grid.tsx
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/stitches/space.ts
  src/@cy7/stitches/stitches.config.ts
  src/pages/index.tsx
Due: none

Migrate <GutterBox /> to Stitches
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/GutterBox.tsx
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/gatsby/OldBrowserWarning.tsx
  src/@cy7/stitches/stitches.config.ts
  src/pages/404.js
  src/pages/index.tsx
  src/templates/BlogPost.js
Due: prettier-js

Migrate <MaxWidth /> to Stitches
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/MaxWidth.tsx
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/stitches/stitches.config.ts
  src/pages/404.js
  src/pages/index.tsx
  src/templates/BlogPost.js
Due: prettier-js

Rename "primitives" directory to "components"
  src/@cy7/design-system/components/Link.tsx
  src/@cy7/design-system/components/Svg.tsx
  src/@cy7/design-system/index.ts
Due: none

Migrate <Logo /> to Stitches
  gatsby-node.js
  src/@cy7/design-system/components/Logo.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/gatsby/Footer.tsx
  src/pages/index.tsx
Due: prettier-js

Migrate <FullHeightPage /> to Stitches
  src/@cy7/gatsby/FullHeightPage.js
  src/@cy7/gatsby/FullHeightPage.tsx
Due: prettier-js

Migrate global styles to Stitches
  gatsby-browser.js
  gatsby-config.js
  src/@cy7/design-system/GlobalStyles.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/designSystem/Cy7ThemeProvider.js
  src/@cy7/designSystem/GlobalStyles.js
  src/@cy7/gatsby/Page.tsx
  src/@cy7/stitches/space.ts
  src/@cy7/typography/index.ts
  src/@cy7/typography/typography.ts
  src/pages/index.tsx
  yarn.lock
Due: prettier-js

Migrate font loading to Stitches
  src/@cy7/design-system/GlobalStyles.tsx
  src/@cy7/design-system/fonts/.eslintignore
  src/@cy7/design-system/fonts/fonts.d.ts
  src/@cy7/design-system/fonts/inter-400-italic.woff2
  src/@cy7/design-system/fonts/inter-400.woff2
  src/@cy7/design-system/fonts/inter-700-italic.woff2
  src/@cy7/design-system/fonts/inter-700.woff2
  src/@cy7/design-system/fonts/oswald-700.woff2
  src/@cy7/gatsby/Page.tsx
  src/@cy7/stitches/stitches.config.ts
  tsconfig.json
Due: prettier-non-js

Remove <Footer /> dependency on Styled Components
  src/@cy7/design-system/components/Link.tsx
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/stitches/stitches.config.ts
  src/@cy7/typography/typography.ts
Due: none

Migrate <OldBrowserWarning /> to Stitches
  src/@cy7/gatsby/OldBrowserWarning.tsx
  src/@cy7/stitches/stitches.config.ts
Due: none

Convert 404 page to Typescript
  src/@cy7/gatsby/Meta.tsx
  src/pages/404.tsx
Due: none

Migrate one-off components in <HomePage /> to Stitches
  src/@cy7/stitches/space.ts
  src/@cy7/stitches/stitches.config.ts
  src/pages/index.tsx
Due: none

Migrate <CodeBlock /> (and <Token />) to Stitches
  package.json
  src/@cy7/blog/codeBlocks.ts
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/components/Token.js
  src/@cy7/blog/components/codeBlock/Code.tsx
  src/@cy7/blog/components/codeBlock/CodeBlock.tsx
  src/@cy7/blog/components/codeBlock/CodeContainer.tsx
  src/@cy7/blog/components/codeBlock/HighlightedCode.tsx
  src/@cy7/blog/components/codeBlock/OutputContainer.tsx
  src/@cy7/blog/components/codeBlock/OutputPre.tsx
  src/@cy7/blog/components/codeBlock/OutputWell.tsx
  src/@cy7/blog/components/codeBlock/Pre.tsx
  src/@cy7/blog/components/codeBlock/Tag.tsx
  src/@cy7/blog/components/codeBlock/Token.tsx
  src/@cy7/blog/components/codeBlock/index.ts
  src/@cy7/blog/components/codeBlock/tokenVariants.tsx
  src/@cy7/blog/components/index.js
  src/@cy7/blog/index.js
  src/@cy7/blog/posts/anonymous-functions.mdx
  src/@cy7/blog/types.ts
  src/@cy7/design-system/components/Logo.tsx
  src/@cy7/design-system/components/Svg.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/gatsby/FullHeightPage.tsx
  src/@cy7/gatsby/Img.tsx
  src/@cy7/gatsby/Link.tsx
  src/@cy7/gatsby/Meta.tsx
  src/@cy7/gatsby/Page.tsx
  src/@cy7/gatsby/WarpTotem.tsx
  src/@cy7/home/Hero.tsx
  src/@cy7/stitches/index.ts
  src/@cy7/stitches/stitches.config.ts
  src/@cy7/utils/array.ts
  yarn.lock
Due: prettier-js, prettier-non-js

Migrate MDX components to Stitches/Typescript
  src/@cy7/blog/components/MdxCodeBlock.js
  src/@cy7/blog/components/MdxCodeBlock.tsx
  src/@cy7/blog/components/MdxHeading.js
  src/@cy7/blog/components/MdxHeading.tsx
  src/@cy7/blog/components/MdxInlineCode.js
  src/@cy7/blog/components/MdxInlineCode.tsx
  src/@cy7/blog/components/MdxLink.tsx
  src/@cy7/blog/components/codeBlock/CodeBlock.tsx
  src/@cy7/blog/components/index.js
  src/@cy7/blog/components/index.ts
  src/@cy7/blog/index.ts
  src/@cy7/blog/posts/anonymous-functions.mdx
  src/@cy7/utils/slugify.ts
Due: prettier-js

Migrate <BlogPost /> to Stitches
  gatsby-node.js
  package.json
  src/templates/BlogPost.tsx
  yarn.lock
Due: prettier-js, prettier-non-js

Migrate ids util to Typescript
  src/@cy7/utils/ids.ts
Due: none

Drop <Cy7ThemeProvider /> usage from <Page />
  src/@cy7/blog/components/MdxHeading.tsx
  src/@cy7/design-system/icons/LinkIcon.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/gatsby/Img.tsx
  src/@cy7/gatsby/Page.tsx
Due: none

Gather storybook files together in a new package
  .storybook/preview.js
  src/@cy7/designSystem/docComponents/index.js
  src/@cy7/designSystem/primitives/Colors.stories.mdx
  src/@cy7/docs/components/Logo.stories.mdx
  src/@cy7/docs/design-system/Colors.stories.mdx
  src/@cy7/docs/design-system/Scales.stories.mdx
  src/@cy7/docs/design-system/Typography.stories.mdx
  src/@cy7/docs/gatsby/Meta.stories.mdx
  src/@cy7/docs/overview/DesignSystem.stories.mdx
  src/@cy7/docs/overview/Intro.stories.mdx
  src/@cy7/docs/overview/TechStack.stories.mdx
  src/@cy7/docs/utils/ColorSwatch.js
  src/@cy7/docs/utils/index.js
Due: prettier-js

Remove color stories for now: incomplete and will need re-done under Stitches anyway
  src/@cy7/docs/design-system/Colors.stories.mdx
  src/@cy7/docs/utils/ColorSwatch.js
  src/@cy7/docs/utils/index.js
Due: prettier-js

Upgrade storybook, import Logo component from new design system instead
  .storybook/preview.js
  package.json
  src/@cy7/docs/components/Logo.stories.mdx
  src/@cy7/docs/overview/DesignSystem.stories.mdx
  yarn.lock
Due: prettier-js, prettier-non-js
