Repository cycleseven/cy7.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-non-js, terraform-format

prettier-js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

prettier-non-js:
  run: yarn prettier --write --no-bracket-spacing {staged_files} && git add {staged_files}

terraform-format:
  run: echo {staged_files} | xargs -n1 -I[] sh -c 'terraform fmt [] && git add []'

Unit test friendly date formatting
  gatsby-node.js
  gatsby/.eslintrc.json
  gatsby/__tests__/dates.test.js
  gatsby/utils/dates.js
  package.json
Due: prettier-js, prettier-non-js

Fix bug where FullHeightPage styles aren't rendered at build time (resulting in FOUC/footer layout shift on page load)
  src/@cy7/website/common/components/FullHeightPage.tsx
Due: prettier-js

Invalidate all paths in cy7.io Cloudfront distribution on deploy
  .github/workflows/deploy.yml
  deploy/infra/modules/static_site/outputs.tf
  deploy/infra/outputs.tf
Due: prettier-non-js, terraform-format

Fix dodgy output piping in CI deploy workflow
  .github/workflows/deploy.yml
Due: prettier-non-js

Change to terraform config dir before attempting to log outputs during deploy
  .github/workflows/deploy.yml
Due: prettier-non-js

omg
  .github/workflows/deploy.yml
Due: prettier-non-js

Authenticate with AWS for terraform output step
  .github/workflows/deploy.yml
Due: prettier-non-js

hmm
  .github/workflows/deploy.yml
Due: prettier-non-js

Try terraform init
  .github/workflows/deploy.yml
Due: prettier-non-js

Fix working directory
  .github/workflows/deploy.yml
Due: prettier-non-js

Attempt to debug terraform output
  .github/workflows/deploy.yml
Due: prettier-non-js

wat
  .github/workflows/deploy.yml
Due: prettier-non-js

wat wat wat
  .github/workflows/deploy.yml
Due: prettier-non-js

lol
  .github/workflows/deploy.yml
Due: prettier-non-js

Switch to bahmutov/npm-install@v1 to see if it caches things and improves build speed
  .github/workflows/deploy.yml
  .github/workflows/validate-without-deploy.yml
Due: prettier-non-js

Tag redirect lambdas and upgrade to Node 14
  deploy/lambda/package.json
  deploy/lambda/serverless.yml
  deploy/lambda/yarn.lock
Due: prettier-non-js

Upgrade to Terraform v1.1
  deploy/infra/.terraform.lock.hcl
  deploy/infra/main.tf
Due: terraform-format

Use latest Terraform in Github Actions workflows, validate Terraform code on push
  .github/workflows/deploy.yml
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Run terraform checks from deploy/infra
  .github/workflows/deploy.yml
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Authenticate Terraform code quality jobs with AWS account
  .github/workflows/deploy.yml
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Refactor Terraform/Serverless Framework integration to pass values remotely rather than via local outputs.json
  deploy/infra/main.tf
  deploy/lambda/README.md
  deploy/lambda/package.json
  deploy/lambda/serverless.yml
  deploy/lambda/yarn.lock
Due: prettier-non-js, terraform-format

Refactor code quality checks to reusable workflows
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/check-terraform-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
  .github/workflows/validate-pushed-code.yml
Due: prettier-non-js

Make secrets available to Terraform code quality job
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Give workflow jobs friendlier names
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/check-terraform-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Improve names for reusable workflows
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Add a replica bucket in eu-west-1 for static sites
  deploy/infra/main.tf
  deploy/infra/modules/static_site/main.tf
Due: terraform-format

Upload static site bundles to mirror buckets on deploy
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Fix Storybook mirror upload in deploy workflow
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Remove original root buckets in us-east-1
  .github/workflows/on-mainline-push.yml
  deploy/infra/modules/static_site/main.tf
Due: prettier-non-js, terraform-format

Add new root buckets to eu-west-1
  .github/workflows/on-mainline-push.yml
  deploy/infra/modules/static_site/main.tf
Due: prettier-non-js, terraform-format

Add OAI policies for new root buckets
  deploy/infra/modules/static_site/main.tf
Due: terraform-format

Switch CloudFront origin over to new root bucket
  deploy/infra/modules/static_site/main.tf
Due: terraform-format

Clean up old root buckets
  deploy/infra/modules/static_site/main.tf
Due: terraform-format

Remove mirror buckets from deploy workflow (they've been removed)
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Try using a custom action for yarn install step
  .github/actions/yarn-install/action.yml
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Also use custom install for non-mainline push
  .github/workflows/on-branch-push.yml
Due: prettier-non-js

Try the c-hive/gha-yarn-cache@v2 community action
  .github/actions/yarn-install/action.yml
Due: prettier-non-js

Also use custom yarn install action in check-frontend-code-quality
  .github/workflows/check-frontend-code-quality.yml
Due: prettier-non-js

Try manually using actions/cache@v2
  .github/actions/yarn-install/action.yml
Due: prettier-non-js

Strip runtime JS from the bundle
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-js, prettier-non-js

Path conditions:
  prettier-js: any of: *.{js,ts,tsx}
  prettier-non-js: any of: *.{css,yml,yaml,json,md}
  terraform-format: any of: *.{tf,tfvars}
