Repository cycleseven/cy7.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-non-js, terraform-format

lefthook.yml:

pre-push:
  parallel: true
  commands:
    eslint:
      run: yarn eslint src --max-warnings 0
    prettier-check:
      run: yarn prettier --check "**/*.{js,ts,tsx,css,yml,yaml,json,md}"
    typescript-check:
      run: yarn tsc --noEmit
    terraform-format-check:
      run: terraform fmt -check deploy/infra
    jest:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    prettier-js:
      glob: "*.{js,ts,tsx}"
      run: yarn prettier --write {staged_files} && git add {staged_files}
    prettier-non-js:
      glob: "*.{css,yml,yaml,json,md}"
      run: yarn prettier --write --no-bracket-spacing {staged_files} && git add {staged_files}
    terraform-format:
      glob: "*.{tf,tfvars}"
      run: "echo {staged_files} | xargs -n1 -I[] sh -c 'terraform fmt [] && git add []'"

check-all:
  parallel: true
  commands:
    eslint:
      tags: frontend
      run: yarn eslint src --max-warnings 0
    prettier-check:
      tags: frontend
      run: yarn prettier --check "**/*.{js,ts,tsx,css,yml,yaml,json,md}"
    typescript-check:
      tags: frontend
      run: yarn tsc --noEmit
    terraform-format-check:
      tags: infra
      run: terraform fmt -check deploy/infra
    jest:
      tags: frontend
      run: yarn test

Upgrade to latest minor version of Node.js v16
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
  README.md
Due: prettier-non-js

Switch from yarn to pnpm
  .github/actions/pnpm-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
  .gitignore
  .prettierignore
  README.md
  gatsby-config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/@cy7/design-system/stitches.config.ts
  src/@cy7/docs/guides/CodeQuality.stories.mdx
  src/@cy7/docs/guides/Testing.stories.mdx
  src/@cy7/docs/guides/TypeScript.stories.mdx
  src/@cy7/website/blog/components/MdxCodeBlock.tsx
  src/@cy7/website/common/components/FullHeightPage.tsx
  yarn.lock
Due: prettier-js, prettier-non-js

Switch to pnpm for Lambda@Edge project, upgrade to Node.js v16 runtime
  .github/workflows/check-terraform-code-quality.yml
  deploy/infra/main.tf
  deploy/lambda/README.md
  deploy/lambda/package.json
  deploy/lambda/pnpm-lock.yaml
  deploy/lambda/serverless.yml
  deploy/lambda/yarn.lock
  package.json
  pnpm-lock.yaml
Due: prettier-non-js, terraform-format

Upgrade GitHub Actions to fix Node.js v12 warnings
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/check-terraform-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Upgrade to actions/upload-artifact@v3
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Upgrade to actions/download -artifact@v3
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Exclude pnpm-lock.yaml from Lambda@Edge package
  deploy/lambda/serverless.yml
Due: prettier-non-js

Bump Terraform version in "Query infrastructure" CI job
  .github/workflows/on-mainline-push.yml
Due: prettier-non-js

Revert merge of pnpm branch (Storybook is broken)
  .github/actions/pnpm-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/check-terraform-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
  .gitignore
  .prettierignore
  README.md
  deploy/infra/main.tf
  deploy/lambda/README.md
  deploy/lambda/package.json
  deploy/lambda/pnpm-lock.yaml
  deploy/lambda/serverless.yml
  deploy/lambda/yarn.lock
  gatsby-config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/@cy7/docs/guides/CodeQuality.stories.mdx
  src/@cy7/docs/guides/Testing.stories.mdx
  src/@cy7/docs/guides/TypeScript.stories.mdx
  yarn.lock
Due: prettier-js, prettier-non-js, terraform-format

Fix prettier violations
  gatsby-config.js
  src/@cy7/design-system/stitches.config.ts
  src/@cy7/website/blog/components/MdxCodeBlock.tsx
  src/@cy7/website/common/components/FullHeightPage.tsx
Due: prettier-js

Revert "Fix prettier violations"
  gatsby-config.js
  src/@cy7/design-system/stitches.config.ts
  src/@cy7/website/blog/components/MdxCodeBlock.tsx
  src/@cy7/website/common/components/FullHeightPage.tsx
Due: prettier-js

Storybook is broken either way :( bring back pnpm
  .github/actions/pnpm-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/check-terraform-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
  .gitignore
  .prettierignore
  README.md
  deploy/infra/main.tf
  deploy/lambda/README.md
  deploy/lambda/package.json
  deploy/lambda/pnpm-lock.yaml
  deploy/lambda/serverless.yml
  deploy/lambda/yarn.lock
  gatsby-config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/@cy7/docs/guides/CodeQuality.stories.mdx
  src/@cy7/docs/guides/Testing.stories.mdx
  src/@cy7/docs/guides/TypeScript.stories.mdx
  yarn.lock
Due: prettier-js, prettier-non-js, terraform-format

Remove Storybook link temporarily
  gatsby-config.js
Due: prettier-js

Fix Storybook + tweak the docs a wee bit
  .storybook/main.js
  src/@cy7/docs/guides/Blogging.stories.mdx
  src/@cy7/docs/guides/ProjectLayout.stories.mdx
  src/@cy7/docs/guides/SettingUp.stories.mdx
  src/@cy7/docs/guides/Testing.stories.mdx
  src/@cy7/docs/guides/TypeScript.stories.mdx
  src/@cy7/docs/intro/HelloWorld.stories.mdx
Due: prettier-js

Restore missing Storybook link to footer
  gatsby-config.js
Due: prettier-js

Upgrade to Gatsby v4
  package.json
  pnpm-lock.yaml
Due: prettier-non-js

Migrate away from Helmet
  gatsby-config.js
  package.json
  pnpm-lock.yaml
  src/@cy7/docs/guides/ProjectLayout.stories.mdx
  src/@cy7/docs/website/Meta.stories.mdx
  src/@cy7/website/common/components/FullHeightPage.tsx
  src/@cy7/website/common/components/Meta.tsx
Due: prettier-js, prettier-non-js

Upgrade to gatsby-plugin-mdx v4 (with MDX v2)
  gatsby-node.js
  package.json
  pnpm-lock.yaml
  src/@cy7/website/blog/components/MdxCodeBlock.tsx
  src/@cy7/website/blog/components/MdxHeading.tsx
  src/@cy7/website/blog/components/MdxLink.tsx
  src/@cy7/website/blog/posts/some-tips-for-graphql.mdx
  src/templates/BlogPost.tsx
Due: prettier-js, prettier-non-js

Fix broken inline code styles after MDX v2 upgrade
  src/@cy7/website/blog/components/MdxCode.tsx
  src/@cy7/website/blog/components/MdxPre.tsx
  src/@cy7/website/blog/components/index.ts
  src/templates/BlogPost.tsx
Due: prettier-js

Fix capitalisation on LinkedIn™ social link
  gatsby-config.js
Due: prettier-js

Fix missing text content in <MdxLink />
  src/@cy7/website/blog/components/MdxLink.tsx
  src/@cy7/website/blog/posts/anonymous-functions.mdx
Due: prettier-js

Migrate metadata to Gatsby Head API
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/BlogPost.tsx
Due: prettier-js

Upgrade Lambda@Edge functions to Node.js v20
  deploy/lambda/handlers.js
  deploy/lambda/package.json
  deploy/lambda/serverless.yml
Due: prettier-js, prettier-non-js

Upgrade to Serverless Framework v3 and pnpm v8
  deploy/lambda/package.json
  deploy/lambda/pnpm-lock.yaml
  deploy/lambda/serverless.yml
Due: prettier-non-js

Upgrade to Node.js v20, pnpm v8 and Gatsby v5. Also upgrade loads of dependencies
  .github/actions/pnpm-install/action.yml
  .github/workflows/check-frontend-code-quality.yml
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
  .graphqlconfig
  package.json
  pnpm-lock.yaml
  src/@cy7/website/blog/components/codeBlock/HighlightedCode.tsx
  src/pages/index.tsx
Due: prettier-js, prettier-non-js

Upgrade to Storybook v7
  .babelrc.json
  .github/workflows/on-branch-push.yml
  .github/workflows/on-mainline-push.yml
  .storybook/main.js
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier-js, prettier-non-js

Upgrade vulnerable JS dependencies
  package.json
  pnpm-lock.yaml
Due: prettier-non-js

Upgrade vulnerable JS dependencies in Lambda@Edge project
  deploy/lambda/pnpm-lock.yaml
Due: prettier-non-js
