Repository cycleseven/cy7.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-non-js, format-terraform

lefthook.yml:

pre-push:
  parallel: true
  commands:
    eslint:
      files: git diff --name-only HEAD @{push}
      glob: "*.js"
      run: yarn eslint {files} --max-warnings 0
    stylelint:
      files: git diff --name-only HEAD @{push}
      glob: "*.js"
      run: yarn stylelint {files}
    prettier-check:
      files: git diff --name-only HEAD @{push}
      glob: "*.{js,css,yml,yaml,json,md}"
      run: yarn prettier --check {files}

pre-commit:
  parallel: true
  commands:
    prettier-js:
      glob: "*.js"
      run: yarn prettier --write {staged_files} && git add {staged_files}
    prettier-non-js:
      glob: "*.{css,yml,yaml,json,md}"
      run: yarn prettier --write --no-bracket-spacing {staged_files} && git add {staged_files}
    format-terraform:
      glob: "*.{tf,tfvars}"
      run: "echo {staged_files} | xargs -n1 -I[] sh -c 'terraform fmt [] && git add []'"

full-lint:
  parallel: true
  commands:
    eslint:
      glob: "*.js"
      run: yarn eslint {all_files} --max-warnings 0
    stylelint:
      glob: "*.js"
      run: yarn stylelint {all_files}
    prettier-check:
      glob: "*.{js,css,yml,yaml,json,md}"
      run: yarn prettier --check {all_files}

Delete legacy design system 😢👋
  src/@cy7/designSystem/ColorModeProvider.js
  src/@cy7/designSystem/Cy7ThemeProvider.js
  src/@cy7/designSystem/GlobalStyles.js
  src/@cy7/designSystem/README.md
  src/@cy7/designSystem/components/Link.js
  src/@cy7/designSystem/components/Logo.js
  src/@cy7/designSystem/components/Svg.js
  src/@cy7/designSystem/components/icons/LinkIcon.js
  src/@cy7/designSystem/components/index.js
  src/@cy7/designSystem/components/layout/Grid.js
  src/@cy7/designSystem/components/layout/GutterBox.js
  src/@cy7/designSystem/components/layout/MaxWidth.js
  src/@cy7/designSystem/components/layout/Stack.js
  src/@cy7/designSystem/fonts.css
  src/@cy7/designSystem/fonts/inter-400-italic.woff2
  src/@cy7/designSystem/fonts/inter-400.woff2
  src/@cy7/designSystem/fonts/inter-700-italic.woff2
  src/@cy7/designSystem/fonts/inter-700.woff2
  src/@cy7/designSystem/fonts/oswald-700.woff2
  src/@cy7/designSystem/index.d.ts
  src/@cy7/designSystem/index.js
  src/@cy7/designSystem/primitives/palette.js
  src/@cy7/designSystem/primitives/scales.js
  src/@cy7/designSystem/primitives/typography.js
  src/@cy7/designSystem/theme.js
  src/@cy7/designSystem/themeModes.js
  src/@cy7/designSystem/themeShortcuts.js
  src/@cy7/designSystem/useTheme.js
Due: prettier-js, prettier-non-js

Remove legacy palette
  src/@cy7/gatsby/Img.tsx
  src/@cy7/stitches/legacyPalette.ts
  src/@cy7/typography/typography.ts
Due: none

Remove Styled Components package
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-js, prettier-non-js

Upgrade to Stitches v1 canary
  package.json
  src/@cy7/blog/components/MdxHeading.tsx
  src/@cy7/blog/components/codeBlock/Tag.tsx
  src/@cy7/blog/components/codeBlock/Token.tsx
  src/@cy7/design-system/GlobalStyles.tsx
  src/@cy7/design-system/components/Svg.tsx
  src/@cy7/design-system/icons/LinkIcon.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/gatsby-plugin-stitches/gatsby-ssr.js
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/gatsby/FullHeightPage.tsx
  src/@cy7/gatsby/Link.tsx
  src/@cy7/stitches/index.ts
  src/@cy7/stitches/stitches.config.ts
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/BlogPost.tsx
  yarn.lock
Due: prettier-js, prettier-non-js

Get ESLint working against Typescript, fix errors
  lefthook.yml
  package.json
  src/@cy7/blog/codeBlocks.ts
  src/@cy7/blog/components/MdxHeading.tsx
  src/@cy7/blog/components/MdxLink.tsx
  src/@cy7/css/colors.ts
  src/@cy7/design-system/icons/LinkIcon.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/Stack.tsx
  src/@cy7/gatsby/Link.tsx
  src/@cy7/gatsby/Meta.tsx
  src/@cy7/gatsby/OldBrowserWarning.tsx
  src/@cy7/gatsby/Page.tsx
  src/@cy7/stitches/index.ts
  src/@cy7/stitches/space.ts
  src/@cy7/utils/array.ts
  src/pages/404.tsx
  src/pages/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier-non-js

Get ESLint working against Typescript, fix errors
  package.json
Due: prettier-non-js

Fix broken link appearance in blog section of home page
  src/pages/index.tsx
Due: none

Upgrade to Stitches canary 14
  package.json
  src/@cy7/design-system/GlobalStyles.tsx
  yarn.lock
Due: prettier-non-js

Try out PRESERVE_WEBPACK_CACHE build flag for Gatsby
  gatsby-config.js
Due: prettier-js

Fix TS errors in @font-face src attributes
  src/@cy7/design-system/GlobalStyles.tsx
Due: none

Fix layout regressions related to dates in home page + blog template
  src/pages/index.tsx
  src/templates/BlogPost.tsx
Due: none

Migrate tests to Typescript
  src/@cy7/blog/__tests__/codeBlocks.test.ts
  src/@cy7/utils/__tests__/array.test.ts
  src/@cy7/utils/__tests__/ids.test.ts
  src/@cy7/utils/__tests__/slugify.test.ts
Due: none

Enforce exports at end of file via a lint rule
  package.json
  src/@cy7/gatsby/Img.tsx
Due: prettier-non-js

Upgrade node version
  deploy/ci-deploy-image/Dockerfile
  deploy/ci-lint-image/Dockerfile
  package.json
Due: prettier-non-js

Migrate to Gatsby v3
  .gitignore
  .storybook/main.js
  gatsby-config.js
  package.json
  src/@cy7/design-system/GlobalStyles.tsx
  src/@cy7/gatsby/Img.tsx
  src/@cy7/gatsby/Page.tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier-js, prettier-non-js

Automatically generate types for GraphQL queries, remove some ts-ignores for resolved TS issues
  .gitignore
  .storybook/webpack.config.js
  gatsby-config.js
  gatsby-node.js
  package.json
  src/@cy7/blog/components/MdxHeading.tsx
  src/@cy7/blog/components/codeBlock/Tag.tsx
  src/@cy7/design-system/layout/Stack.tsx
  src/@cy7/gatsby/Footer.tsx
  src/@cy7/gatsby/Link.tsx
  src/@cy7/home/index.ts
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/BlogPost.tsx
  tsconfig.json
  yarn.lock
Due: prettier-js, prettier-non-js

Add webpack-bundle-analyzer
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-js, prettier-non-js

Set sideEffects: false in package.json, so that tree-shaking works when importing from internal packages
  package.json
Due: prettier-non-js

Improve README, tighten up code quality checks, remove @cy7/css package
  .gitignore
  .gitlab-ci.yml
  .prettierignore
  README.md
  gatsby-node.js
  lefthook.yml
  package.json
  src/@cy7/css/__tests__/colors.test.ts
  src/@cy7/css/colors.ts
  src/@cy7/css/index.ts
  src/@cy7/design-system/README.md
  src/@cy7/design-system/layout/Grid.tsx
  src/@cy7/stitches/hues.ts
  src/@cy7/stitches/index.ts
  src/@cy7/stitches/stitches.config.ts
  src/@cy7/typography/typography.ts
  src/@cy7/website/blog/components/codeBlock/Code.tsx
  src/@cy7/website/blog/components/codeBlock/CodeContainer.tsx
  src/@cy7/website/blog/components/codeBlock/OutputContainer.tsx
  src/@cy7/website/blog/components/codeBlock/OutputPre.tsx
  src/@cy7/website/blog/components/codeBlock/OutputWell.tsx
  src/@cy7/website/blog/components/codeBlock/Pre.tsx
  src/@cy7/website/blog/components/codeBlock/Tag.tsx
  src/@cy7/website/blog/posts/anonymous-functions.mdx
  src/@cy7/website/blog/types.ts
  src/@cy7/website/common/__tests__/slugify.test.ts
  src/@cy7/website/common/components/FullHeightPage.tsx
  src/@cy7/website/common/components/Img.tsx
  src/@cy7/website/common/components/OldBrowserWarning.tsx
  src/@cy7/website/common/components/Page.tsx
  src/@cy7/website/common/index.ts
  src/@cy7/website/common/utils/arrays.ts
  yarn.lock
Due: prettier-js, prettier-non-js

Add intro guides to Storybook
  .storybook/preview.js
  src/@cy7/docs/design-system/GettingStarted.stories.mdx
  src/@cy7/docs/design-system/Logo.stories.mdx
  src/@cy7/docs/design-system/Scales.stories.mdx
  src/@cy7/docs/design-system/Typography.stories.mdx
  src/@cy7/docs/guides/Accessibility.stories.mdx
  src/@cy7/docs/guides/Blogging.stories.mdx
  src/@cy7/docs/guides/CodeQuality.stories.mdx
  src/@cy7/docs/guides/Deployment.stories.mdx
  src/@cy7/docs/guides/Testing.stories.mdx
  src/@cy7/docs/guides/TypeScript.stories.mdx
  src/@cy7/docs/intro/HelloWorld.stories.mdx
  src/@cy7/docs/intro/ProjectLayout.stories.mdx
  src/@cy7/docs/overview/DesignSystem.stories.mdx
  src/@cy7/docs/overview/Intro.stories.mdx
  src/@cy7/docs/overview/TechStack.stories.mdx
  src/@cy7/docs/website/Meta.stories.mdx
Due: prettier-js

Add Link docs, fix Storybook deprecation issues, load cy7.io global styles in Storybook
  .storybook/main.js
  .storybook/preview-body.html
  .storybook/preview.js
  .storybook/webpack.config.js
  README.md
  src/@cy7/design-system/components/Box.tsx
  src/@cy7/design-system/components/Logo.tsx
  src/@cy7/design-system/components/Svg.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/docs/design-system/GettingStarted.stories.mdx
  src/@cy7/docs/design-system/Link.stories.mdx
  src/@cy7/docs/design-system/Logo.stories.mdx
  src/@cy7/docs/guides/Accessibility.stories.mdx
  src/@cy7/docs/guides/Blogging.stories.mdx
  src/@cy7/docs/guides/CodeQuality.stories.mdx
  src/@cy7/docs/guides/Deployment.stories.mdx
  src/@cy7/docs/guides/Testing.stories.mdx
  src/@cy7/docs/guides/TypeScript.stories.mdx
  src/@cy7/docs/intro/HelloWorld.stories.mdx
  src/@cy7/docs/intro/ProjectLayout.stories.mdx
  src/@cy7/docs/website/Meta.stories.mdx
Due: prettier-js, prettier-non-js

Add Link docs, fix Storybook deprecation issues, load cy7.io global styles in Storybook
  src/@cy7/docs/design-system/Link.stories.mdx
  src/@cy7/docs/design-system/Logo.stories.mdx
Due: none

Treat <Box /> as a layout component
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/Box.tsx
Due: none

Document <Box />
  src/@cy7/docs/design-system/Box.stories.mdx
Due: none

Document <Svg />
  src/@cy7/docs/design-system/Box.stories.mdx
  src/@cy7/docs/design-system/Svg.stories.mdx
Due: none

Document <GutterBox />
  src/@cy7/docs/design-system/GutterBox.stories.mdx
Due: none

Document <MaxWidth />, rename <GutterBox /> to <Gutters />
  README.md
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/Gutters.tsx
  src/@cy7/docs/design-system/GutterBox.stories.mdx
  src/@cy7/docs/design-system/Gutters.stories.mdx
  src/@cy7/docs/design-system/MaxWidth.stories.mdx
  src/@cy7/stitches/stitches.config.ts
  src/@cy7/website/common/components/Footer.tsx
  src/@cy7/website/common/components/OldBrowserWarning.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/BlogPost.tsx
Due: prettier-non-js

Document <Stack />
  src/@cy7/docs/design-system/MaxWidth.stories.mdx
  src/@cy7/docs/design-system/Stack.stories.mdx
Due: none

Document <Page />, improve <Meta /> docs
  .storybook/main.js
  src/@cy7/docs/intro/ProjectLayout.stories.mdx
  src/@cy7/docs/website/Meta.stories.mdx
  src/@cy7/docs/website/Overview.stories.mdx
  src/@cy7/docs/website/Page.stories.mdx
  src/@cy7/website/common/components/Meta.tsx
  src/@cy7/website/index.ts
Due: prettier-js

Document <Img />
  src/@cy7/docs/website/Img.stories.mdx
  src/@cy7/website/common/components/Img.tsx
Due: none

Document <Link />
  src/@cy7/docs/website/Img.stories.mdx
  src/@cy7/docs/website/Link.stories.mdx
Due: none

Add examples to design system overview docs
  package.json
  src/@cy7/docs/design-system/GettingStarted.stories.mdx
  src/@cy7/docs/doc-components/ColorSwatch.tsx
  src/@cy7/docs/doc-components/Placeholder.tsx
  src/@cy7/website/common/components/Page.tsx
  yarn.lock
Due: prettier-non-js

Re-organise design system overview docs
  src/@cy7/docs/design-system/GettingStarted.stories.mdx
Due: none

Fix broken Storybook build with import workaround
  src/@cy7/docs/website/Meta.stories.mdx
Due: none

Document <CodeBlock />
  src/@cy7/docs/guides/Blogging.stories.mdx
  src/@cy7/website/blog/posts/anonymous-functions.mdx
Due: none

Convert @cy7/website/common components to use default exports
  src/@cy7/website/common/components/Footer.tsx
  src/@cy7/website/common/components/FullHeightPage.tsx
  src/@cy7/website/common/components/Img.tsx
  src/@cy7/website/common/components/Link.tsx
  src/@cy7/website/common/components/Meta.tsx
  src/@cy7/website/common/components/OldBrowserWarning.tsx
  src/@cy7/website/common/components/Page.tsx
  src/@cy7/website/common/components/WarpTotem.tsx
  src/@cy7/website/common/index.ts
Due: none

Merge @cy7/stitches package into @cy7/design-system
  src/@cy7/design-system/GlobalStyles.tsx
  src/@cy7/design-system/components/Link.tsx
  src/@cy7/design-system/components/Svg.tsx
  src/@cy7/design-system/icons/LinkIcon.tsx
  src/@cy7/design-system/index.ts
  src/@cy7/design-system/layout/Box.tsx
  src/@cy7/design-system/layout/Grid.tsx
  src/@cy7/design-system/layout/Gutters.tsx
  src/@cy7/design-system/layout/MaxWidth.tsx
  src/@cy7/design-system/layout/Stack.tsx
  src/@cy7/design-system/stitches.config.ts
  src/@cy7/design-system/theme/hues.ts
  src/@cy7/design-system/theme/space.ts
  src/@cy7/docs/intro/ProjectLayout.stories.mdx
  src/@cy7/gatsby-plugin-stitches/gatsby-ssr.js
  src/@cy7/stitches/index.ts
  src/@cy7/website/blog/components/codeBlock/Code.tsx
  src/@cy7/website/blog/components/codeBlock/CodeContainer.tsx
  src/@cy7/website/blog/components/codeBlock/OutputContainer.tsx
  src/@cy7/website/blog/components/codeBlock/OutputPre.tsx
  src/@cy7/website/blog/components/codeBlock/OutputWell.tsx
  src/@cy7/website/blog/components/codeBlock/Pre.tsx
  src/@cy7/website/blog/components/codeBlock/Tag.tsx
  src/@cy7/website/common/components/OldBrowserWarning.tsx
Due: prettier-js

Tweak site colors, fix Safari border-radius regression on home page
  src/@cy7/design-system/GlobalStyles.tsx
  src/@cy7/design-system/stitches.config.ts
  src/@cy7/typography/typography.ts
  src/@cy7/website/blog/components/codeBlock/CodeContainer.tsx
  src/@cy7/website/common/components/WarpTotem.tsx
  src/@cy7/website/home/components/Hero.tsx
  src/pages/index.tsx
Due: none

Tweak date text color
  src/@cy7/design-system/stitches.config.ts
  src/pages/index.tsx
  src/templates/BlogPost.tsx
Due: none
