Repository cycleseven/cy7.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-non-js, format-terraform

prettier-js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

prettier-non-js:
  run: yarn prettier --write --no-bracket-spacing {staged_files} && git add {staged_files}

format-terraform:
  run: echo {staged_files} | xargs -n1 -I[] sh -c 'terraform fmt [] && git add []'

Update dependencies
  package.json
  src/@cy7/designSystem/Cy7ThemeProvider.js
  yarn.lock
Due: prettier-js, prettier-non-js

Improve JSX syntax highlighting
  src/@cy7/blog/Cy7PrismStyles.js
Due: prettier-js

Tweak syntax highlighting colors
  src/@cy7/blog/Cy7PrismStyles.js
Due: prettier-js

Migrate from plain markdown to MDX
  .storybook/presets.js
  gatsby-config.js
  gatsby-node.js
  package.json
  src/@cy7/blog/posts/anonymous-functions.mdx
  src/@cy7/blog/posts/the-rotate-trick.mdx
  src/templates/BlogPost.js
  yarn.lock
Due: prettier-js, prettier-non-js

Clean up prism styles
  src/@cy7/blog/Cy7PrismStyles.js
Due: prettier-js

Add custom <CodeBlock /> component, set up Jest
  jestPreprocess.js
  package.json
  src/@cy7/blog/__tests__/codeBlocks.test.js
  src/@cy7/blog/codeBlocks.js
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/components/index.js
  src/@cy7/blog/index.js
  src/@cy7/blog/posts/anonymous-functions.mdx
  yarn.lock
Due: prettier-js, prettier-non-js

Upgrade dependencies (Jest, Storybook, Gatsby)
  package.json
  yarn.lock
Due: prettier-non-js

Fix a typo in developer docs
  src/@cy7/designSystem/docs/DesignSystem.stories.mdx
Due: none

Use custom <CodeBlock /> for markdown code blocks
  gatsby-config.js
  src/@cy7/blog/Cy7PrismStyles.js
  src/@cy7/blog/codeBlocks.js
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/components/MdxCodeBlock.js
  src/@cy7/blog/components/index.js
  src/templates/BlogPost.js
Due: prettier-js

Export GraphQL schema for GraphQL-aware tools (eg. Webstorm autocompletion)
  .gitignore
  .graphqlconfig
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-js, prettier-non-js

Increase typography scaleRatio
  src/@cy7/designSystem/primitives/typography.js
Due: prettier-js

Rewrite global Prism styles using styled-components, fix styled-components SSR bug
  gatsby-browser.js
  gatsby-ssr.js
  src/@cy7/blog/Cy7PrismStyles.js
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/components/Token.js
  src/@cy7/blog/index.js
  src/@cy7/utils/__tests__/array.test.js
  src/@cy7/utils/array.js
  src/templates/BlogPost.js
Due: prettier-js

Visually merge error <pre> into sibling code block <pre>
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/designSystem/primitives/Colours.stories.mdx
  src/@cy7/designSystem/primitives/Scales.stories.mdx
  src/@cy7/designSystem/primitives/Typography.stories.mdx
  src/@cy7/designSystem/primitives/scales.js
  src/@cy7/designSystem/theme.js
  src/templates/BlogPost.js
Due: prettier-js

Use custom <CodeBlock /> throughout
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/posts/anonymous-functions.mdx
Due: prettier-js

First proper styling of errors
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/designSystem/primitives/colours.js
Due: prettier-js

Redesign errors in code block
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/designSystem/primitives/colours.js
  src/@cy7/designSystem/primitives/scales.js
Due: prettier-js

Fix padding issue in overflowing code
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/designSystem/primitives/colours.js
Due: prettier-js

Fix stylelint warning
  src/@cy7/blog/components/CodeBlock.js
Due: prettier-js

Tweak error design in <CodeBlock /> once more
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/designSystem/primitives/colours.js
Due: prettier-js

Tweak h2 margin
  src/@cy7/designSystem/primitives/typography.js
Due: prettier-js

Tweak border colour on error output
  src/@cy7/blog/components/CodeBlock.js
Due: prettier-js

Delete test blog post
  src/@cy7/blog/posts/the-rotate-trick.mdx
Due: none

Some progress on anonymous functions content
  src/@cy7/blog/posts/anonymous-functions.mdx
Due: none

Support different code block output types, style inline code
  package.json
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/components/MdxInlineCode.js
  src/@cy7/blog/components/index.js
  src/@cy7/blog/posts/anonymous-functions.mdx
  src/templates/BlogPost.js
  yarn.lock
Due: prettier-js, prettier-non-js

Tweaks to anonymous functions post
  package.json
  src/@cy7/blog/__tests__/codeBlocks.test.js
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/components/MdxInlineCode.js
  src/@cy7/blog/posts/anonymous-functions.mdx
  src/@cy7/designSystem/primitives/colours.js
  yarn.lock
Due: prettier-js, prettier-non-js

Upgrade gatsby-plugin-manifest
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-js, prettier-non-js

Upgrade Gatsby
  package.json
  yarn.lock
Due: prettier-non-js

Add hero graphic to home page, switch typography to oswald/inter, make theme colors usable without function call
  .storybook/config.js
  package.json
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/blog/components/MdxInlineCode.js
  src/@cy7/blog/components/Token.js
  src/@cy7/css/__tests__/colors.test.js
  src/@cy7/css/colors.js
  src/@cy7/css/index.js
  src/@cy7/designSystem/GlobalStyles.js
  src/@cy7/designSystem/components/Logo.js
  src/@cy7/designSystem/docComponents/ColorSwatch.js
  src/@cy7/designSystem/docComponents/index.js
  src/@cy7/designSystem/primitives/Colors.stories.mdx
  src/@cy7/designSystem/primitives/Colours.stories.mdx
  src/@cy7/designSystem/primitives/colors.js
  src/@cy7/designSystem/primitives/colours.js
  src/@cy7/designSystem/primitives/typography.js
  src/@cy7/designSystem/theme.js
  src/@cy7/utils/__tests__/ids.test.js
  src/@cy7/utils/ids.js
  src/images/hero.svg
  src/images/tower.png
  src/pages/index.js
  src/templates/BlogPost.js
  yarn.lock
Due: prettier-js, prettier-non-js

Add some basic styling for links
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/designSystem/GlobalStyles.js
  src/@cy7/designSystem/components/PlainLink.js
  src/@cy7/designSystem/components/index.js
  src/@cy7/designSystem/primitives/colors.js
  src/@cy7/designSystem/primitives/typography.js
  src/pages/index.js
  src/templates/BlogPost.js
Due: prettier-js

Fix some lint errors
  package.json
  src/pages/index.js
  yarn.lock
Due: prettier-js, prettier-non-js

Tweak link styles
  src/@cy7/designSystem/GlobalStyles.js
  src/@cy7/designSystem/components/PlainLink.js
Due: prettier-js

Embed fonts
  src/@cy7/designSystem/Cy7ThemeProvider.js
  src/@cy7/designSystem/Fonts.js
  src/@cy7/designSystem/fonts/inter-400-italic.woff2
  src/@cy7/designSystem/fonts/inter-400.woff2
  src/@cy7/designSystem/fonts/inter-700-italic.woff2
  src/@cy7/designSystem/fonts/inter-700.woff2
  src/@cy7/designSystem/fonts/oswald-700.woff2
  src/@cy7/designSystem/primitives/typography.js
Due: prettier-js

Update pinks in images to match candyfloss hue
  src/images/favicon.png
  src/images/hero.svg
  src/images/tower.png
  src/pages/index.js
Due: prettier-js

Update CI images
  .gitlab-ci.yml
  deploy/ci-deploy-image/Dockerfile
  deploy/ci-lint-image/Dockerfile
Due: prettier-non-js

Migrate away from Alpine images, trading off image size vs. more comprehensive base sys packages
  .dockerignore
  .gitlab-ci.yml
  deploy/ci-deploy-image/Dockerfile
  deploy/ci-lint-image/Dockerfile
Due: prettier-non-js

Optimise home image
  gatsby-config.js
  gatsby-node.js
  package.json
  src/images/hero.svg
  src/images/tower.png
  src/pages/index.js
  src/templates/BlogPost.js
  yarn.lock
Due: prettier-js, prettier-non-js

Switch home image to manual inline svg
  gatsby-config.js
  package.json
  src/@cy7/home/Hero.js
  src/images/hero.svg
  src/pages/index.js
Due: prettier-js, prettier-non-js

Allow accessible title for SVG (but in the case of homepage hero, just leave it as decorative)
  src/@cy7/designSystem/components/BlockSvg.js
  src/@cy7/designSystem/components/Logo.js
  src/@cy7/designSystem/components/Svg.js
  src/@cy7/designSystem/components/index.js
  src/@cy7/home/Hero.js
Due: prettier-js

Add theme shortcut functions
  package.json
  src/@cy7/blog/components/CodeBlock.js
  src/@cy7/designSystem/index.js
  src/@cy7/designSystem/themeShortcuts.js
  src/pages/index.js
  src/templates/BlogPost.js
  yarn.lock
Due: prettier-js, prettier-non-js

Path conditions:
  prettier-js: any of: *.js
  prettier-non-js: any of: *.{css,yml,yaml,json,md}
  format-terraform: any of: *.{tf,tfvars}
